@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
*{
    font-family: 'El Messiri', sans-serif;

}
.filter-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.filter-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-form .btn {
    background-color: #28a745;
    color: white;
    /* padding: 10px 15px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-form .btn:hover {
    background-color: #007bff;
}